<div class="sw-cms-block-nw-layout-one">
    <slot name="left"></slot>
    <slot name="center-top"></slot>
    <slot name="center-bottom"></slot>
    <slot name="right-top"></slot>
    <slot name="right-bottom"></slot>
</div>